.logo{
    padding-left: 10%;
    padding-top: 8px;
}
.menu{
    display: flex;
    font-family: sans-serif;
    flex-direction: row;
    width:40%;
    text-align:end;
    justify-content: space-around;
    font-size: 13px;
    padding-right: 7%;
}
.top-nav-bar{
    display: flex;
    justify-content: space-between;
}
#but{
    border:1px solid #FF2B85;
    background-color: #FF2B85;
    border-radius: 29px;
    color: aliceblue;
    padding: 8px 15px;
    font-size: 12px;
    border-color: #FF2B85;
    margin:10px;
    
}
#but:hover{
    background-color:#C21760;
}
.front-img{
    margin: 0;
    padding: 0;
    display: block; 
}
#search{
    padding-top: 18px;
}
.para{
       padding-left:  8%;
       padding-right: 25%;
       
}
.par{
    padding-left:  10%;
    padding-right: 25%;
    font-size: 12px;
}
.container{
    width:80%;
}
*{
    font-family: sans-serif;
}
.about{
    background-color: #F5F5F6;
    width: 100vw;
    height:30vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.about h4{
    padding-left:0px;
    display: flex;
}
.about p{
    font-size:12px;
}
.values{
    font:bold;
    text-align: center;
}
.slogan{
    border: #FF2B85;
    border-radius: 25px;
    text-align:center;
}
.slogan1{
    text-align: center;
    border: #FF2B85;
    border-radius: 25px;
}
#b1{
    border:2px solid #FF2B85;
    border-radius: 25px;
    padding:5px;
    color:#FF2B85;
}
#abt{
    display: flex;
    justify-content: center;
    align-items:center;
}
.job-txt{
    width:35vw;
}
.job{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F6;
    height: 400px;
}
.job-txt{
    padding-right: 20px;
}
.nav-col{
    font-size: 9px;
    font-weight: bold;
    margin-bottom: 16px;
}
.bottom ol{
    font-size: 8px;
    padding-left: 105px;
}
.bottom ul{
    font-size: 8px;
    padding-left: 135px;
}
.bottom{
    padding-top: 4%;
    background-color: black;
    color:white;
    width: 100vw;
    height: 50vh;
}
#ul-ol{
    display: flex;
    white-space: nowrap;
    padding-top: 3%;
}
#copy-pri{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    padding-left: 105px;
    padding-right: 105px;
    font-size:8px;
}
body{
        padding: 0;
        margin:0;
}
